<%- include('header') -%>




    <div class="container">
        <div class="jumbotron">
            <h1>Order</h1>
        </div>
    </div>


    <div class="container">

        <form>
            <div class="form-group">


              <label for="suppliers">Supplier:
              <input id="suppliers" list="suppliers_list">
              <datalist id="suppliers_list">

              <% suppliers.forEach(function(item) { %>

              <option id="supplier_choice" value=<%= item["supplier_name"]%>></option>

              <% }); %>

              </datalist>
              </label>

              <label for="products">Product:
              <input id="products" list="products_list">
              <datalist id="products_list">
              </datalist>
              </label>

              <input type="button" onclick="add_to_order();" class="btn btn-info" value="Add to order">

        </form>
        <input type="hidden" id="last_price" >


        </div>

<h1>Order summary</h1>
<form>
  <div class="container" id="summary">
  </form>

  </div>

<div>
  <div class="col">
  <h2 class="text-right">Total price</h2>
</div>
<div class="col">
    <h3 class="text-right" id="order_total"></h3>
</div>
  </div>
</div>



        <script>
        document.getElementById("order_total").innerHTML = 0;

        <% suppliers.forEach(function(item) { %>
        <%= item["supplier_name"]%> = new Array([<% item["products"].forEach(function(thing) { %>
        "<%= thing["product_name"] %> : <%= thing["product_price"] %> " ,
        <% }); %>
        ]);
          <% }); %>

          <% suppliers.forEach(function(item) { %>
        <%= item["supplier_name"]%> = <%= item["supplier_name"]%>[0];
        <% }); %>


        $("#suppliers").bind('input', function () {
          populateSelect();
        });

        function clearBoxes(){
          document.getElementById("suppliers").value = "";
          document.getElementById("products").value = "";
        }

        function populateSelect(){
            cat=$('#suppliers').val();
            $('#products_list').html('');
               eval(cat).forEach(function(t) {
                    $('#products_list').append('<option>'+t+'</option>');
                });
            }

            function removeElement(elementId) {
                // Removes an element from the document

                document.getElementById("order_total").innerHTML = parseFloat($('#order_total').text()) - parseFloat($('#last_price').text()) ;

                var element = document.getElementById(elementId);
                element.parentNode.removeChild(element);


            }

            var fileId = 0; // used by the addFile() function to keep track of IDs

            function add_to_order() {
              fileId++; // increment fileId to get a unique ID for the new element

              // /var supplier_order = $('#suppliers').val();
                document.getElementById('summary').innerHTML +=

                '<div id='+fileId+'><div class="form-group"><label for="supplier_name">Supplier name:</label><input type="text" readonly class="form-control" id="supplier_name" value='+
                $('#suppliers').val()+
                 '></div><div class="form-group"><label for="product_name">Product name:</label><input type="text" readonly class="form-control" id="product_name" value='+
                $('#products').val()+
                '></div><a href="" onclick="javascript:removeElement('+fileId + '); return false;">Remove</a></div>';

                document.getElementById("order_total").innerHTML = parseFloat($('#order_total').text()) + parseFloat($('#products').val().split(":")[1]);
                document.getElementById("last_price").innerHTML = parseFloat($('#products').val().split(":")[1]);

                clearBoxes();
            }

        </script>
        </body>
