<%- include('header') -%>




    <div class="container">
        <div class="jumbotron">
            <h1>Order</h1>
        </div>
    </div>


    <div class="container">

        <form>
            <div class="form-group">


              <label for="suppliers">Supplier:
              <input id="suppliers" list="suppliers_list">
              <datalist id="suppliers_list">

              <% suppliers.forEach(function(item) { %>

              <option id="supplier_choice" value=<%= item["supplier_name"]%>></option>

              <% }); %>

              </datalist>
              </label>

              <label for="products">Product:
              <input id="products" list="products_list">
              <datalist id="products_list">
              </datalist>
              </label>

              <input type="button" onclick="add_to_order();" class="btn btn-info" value="Add to order">


<!-- <select id="item">
</select> -->


        </form>


        </div>

        <div class="container" id="summary">

</div>
        <script>
        <% suppliers.forEach(function(item) { %>
        <%= item["supplier_name"]%> = new Array([<% item["products"].forEach(function(thing) { %>
        "<%= thing["product_name"] %> : <%= thing["product_price"] %> " ,
        <% }); %>
        ]);
          <% }); %>

          <% suppliers.forEach(function(item) { %>
        <%= item["supplier_name"]%> = <%= item["supplier_name"]%>[0];
        <% }); %>

        // populateSelect();

        $("#suppliers").bind('input', function () {
          populateSelect();
        });

        //
        // $(function() {
        //       $('#suppliers').change(function(){
        //         populateSelect();
        //     });
        //
        // });


function clearBoxes(){
  document.getElementById("suppliers").value = "";
  document.getElementById("products").value = "";

}

        function populateSelect(){
            cat=$('#suppliers').val();
            $('#products_list').html('');
               eval(cat).forEach(function(t) {
                    $('#products_list').append('<option>'+t+'</option>');
                });
            }


            function add_to_order() {
              // /var supplier_order = $('#suppliers').val();
                document.getElementById('summary').innerHTML += '<p>'+$('#suppliers').val()+'</p>' + '<p>'+$('#products').val()+'</p>'
                clearBoxes();
            }

        </script>
        </body>
